@import url('http://getbootstrap.com/dist/css/bootstrap.css');
@import url('bootstrap-glyphicons.css');
     
body {
	padding-top: 70px;
	padding-bottom: 40px;
}
.center {
	text-align: center;
}
footer {
	padding-top: 40px;
	padding-bottom: 30px;
	margin-top: 100px;
	text-align: center;
	border-top: 1px solid #e5e5e5;
}